---
---

@import "minima";

/* CUSTOM */

body {
	font: 400 16px/1.5 "Roboto Condensed", sans-serif;
}

.site-header {
	background-color: #fff;
    border-top: 0;
    border-bottom: 0;

	a {
		border-radius: 25px;
		padding: 6px 12px;

		&:hover {
		text-decoration: none;
		}
		&.print-link:hover {
			background-color: #7DAE13;
		}
		&.web-link:hover {
			background-color: #4D9AFF;
		}
		&.uxui-link:hover {
			background-color: #FBCB00;
		}
		&.brand-link:hover {
			background-color: #E9ADFF;
		}
	}

	.site-title {
		font-weight: 400;
	}
}

footer {
	text-align: center;

	a {
		border-radius: 25px;
		padding: 6px 12px;

		&:hover {
			text-decoration: none;
			background-color: #F58E89;
		}
	}
	.copyright {
		padding: 6px 12px;
	}
}

.page-content {
    padding: 0;
}

.wrapper {
	max-width: -webkit-calc(1000px - (30px * 2));
	max-width: calc(1000px - (30px * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
}

/* Image Lists
==================== */
ul.list {
	margin: 0;
	
	@extend %clearfix;
}
ul.list li {
	list-style: none;
	float: left;
	margin-bottom: 3%;
}

li.full {
	width: 100%;
}
li.half {
	width: 48.5%;
	margin-right: 3%;
	
	&:nth-child(2n+2) { margin-right: 0; }
	
	@include media-query($on-palm) {
		width: 100%;
		margin-right: 0;
	}
}
li.third {
	width: 31.3%;
	margin-right: 3%;
	
	&:nth-child(3n+3) { margin-right: 0; }
	
	//*@include media-query(max-width: 800px) {
		//*width: 48.5%;
		//*&:nth-child(3n+3) { margin-right: 3%; }
		//*&:nth-child(2n+2) { margin-right: 0; }
	//*}*//
	// @include media-query($on-palm) {
	// 	width: 100%;
	// 	margin-right: 0;
	// }
}
li.two-thirds {
	width: 65.7%;
	margin-right: 0;
	
	// @include media-query($on-palm) {
	// 	width: 100%;
	// 	margin-right: 0;
	// }
}
li.quarter {
	width: 22.7%;
	margin-right: 3%;
	
	&:nth-child(4n+4) { margin-right: 0; }
	
	@include media-query($on-laptop) {
		width: 48.5%;
		&:nth-child(3n+3) { margin-right: 3%; }
		&:nth-child(2n+2) { margin-right: 0; }
	}
	@include media-query($on-palm) {
		width: 100%;
		margin-right: 0;
	}
}
li.sixth {
	width: 14.16%;
	margin-right: 3%;
	
	&:nth-child(6n+6) { margin-right: 0; }
	
	@include media-query($on-laptop) {
		flex-wrap: wrap;
		width: 31.3%;
		&:nth-child(3n+3) { margin-right: 0; }
	}
	@include media-query($on-palm) {
		width: 48.5%;
		&:nth-child(3n+3) { margin-right: 3%; }
		&:nth-child(2n+2) { margin-right: 0; }
	}
}

/* Special list widths */
li.third-to-half {
	width: 31.3%;
	margin-right: 3%;
}
li.two-thirds-to-half {
	width: 65.7%;
	margin-right: 3%;
}
li.third-to-half,
li.two-thirds-to-half {
	@include media-query($on-laptop) {
		width: 48.5%;
	}
	@include media-query($on-palm) {
		width: 100%;
		margin-right: 0;
	}
}

.section {
	min-height: 100vh;
	text-align: center;
	
	h3 {
		font-size: 1.8rem;
		font-weight: 700;
	}
	p {
		font-size: 1.6rem;
	}
	a {
		border: 2px solid #000;
		border-radius: 25px;
		color: #000;
		font-size: 1.2rem;
		padding: 10px 22px;

		&:hover {
			background-color: #fff;
			text-decoration: none;
		}
	}

	.wrapper {
		padding: 80px 30px;

		.connector {
			background-color: #000;
			display: block;
			height: 33vh;
			width: 0.5px;
			margin: 30px auto;
		}
		.headline {
			// position: relative;

			h2 {
				font-weight: 700;
				font-size: 4rem;
				// position: absolute;
    			// right: 0;
    			// top: 0;
				text-align: center;

				@include media-query($on-palm) {
					font-size: 3rem;
				}
			}
		}

		.block {
			display: flex;

			.block-left, .block-right {
				width: 50%;
			}
		}

		.links {
			margin-top: 80px;

			a {
				margin: 0 10px;
			}
		}
	}
}

.intro {
    background-color: #F58E89;
	color: #000;

	h2 {
		font-weight: 700;
		font-size: 4rem;

		@include media-query($on-palm) {
			font-size: 3rem;
		}
	}
	
	.mwp {
		height: auto;
		width: 100%;
		margin: 0 auto;
		max-width: 400px;
    	padding: 10px;
	}
}
.print {
    background-color: #7DAE13;
	color: #000;

	.full img {
		min-width: 100%;
	}
}
.web {
    background-color: #4D9AFF;
	color: #000;

	// .wrapper .headline h2 {
	// 	left: 0;
	// 	right: initial;
	// }
}
.uxui {
    background-color: #FBCB00;
	color: #000;
}
.brand {
    background-color: #E9ADFF;
	color: #000;

	// .wrapper .headline h2 {
	// 	left: 0;
	// 	right: initial;
	// }
}