footer {
    
    a {
        border-radius: 25px;
        color: #000;
        padding: 6px 12px;

        &:hover {
            text-decoration: none;
            background-color: #F58E89;
        }
    }

    svg {
        fill: #000;
        width: 18px;
        height: auto;
        margin-bottom: -3px;
    }

    .copyright {
        padding: 6px 12px;
    }
}