.page-content {
    padding: 0;
}

.wrapper {
	max-width: -webkit-calc(1000px - (30px * 2));
	max-width: calc(1000px - (30px * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
}

.connector-wrapper {
	background-color: #fff;
	display: block;
}

.connector {
	background-color: #000;
	display: block;
	height: 33vh;
	width: 0.5px;
	margin: 0 auto;
}

.intro {
    background-attachment: fixed;
	background-image: url(/assets/images/MW/floating_head.png);
    background-position: center right -400px;
    background-repeat: no-repeat;
    background-size: 800px;
	min-height: calc(100vh - 54px);
	margin-top: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.wrapper {
		margin-left: 0;
		padding: 20px 20px 20px 60px;
		width: calc(100vw - 460px);
	}

	h2 {
		color: #F58E89;
		font-weight: 700;
		font-size: 2rem;
		margin-bottom: 10px;
	}

	p {
		font-size: 1.6rem;
		margin-bottom: 10px;
	}
	
	.mwp {
		height: auto;
		width: 100%;
		margin: 0 auto;
		max-width: 400px;
    	padding: 10px;
	}

	@include media-query($on-800) {
		background-position: center right -300px;
		background-size: 600px;
		
		.wrapper {
			padding: 20px 20px 20px 40px;
			width: calc(100vw - 360px);
		}
	}

	@include media-query($on-700) {
		background-position: center right -200px;
		background-size: 400px;
		
		.wrapper {
			padding: 20px 20px 20px 20px;
			width: calc(100vw - 260px);
		}

		h2 {
			font-size: 1.8rem;
		}
	
		p {
			font-size: 1.4rem;
		}
	}

	@include media-query($on-500) {
		background-position: center right -180px;
		background-size: 300px;
		
		.wrapper {
			width: calc(100vw - 120px);
		}
	
		p {
			font-size: 1.2rem;
		}
	}
}
.print {
	background-color: #7DAE13;

	.full img {
		min-width: 100%;
	}
}
.web {
	background-color: #4D9AFF;
}
.uxui {
	background-color: #FBCB00;
}
.brand {
    background-color: #E9ADFF;
}

/** Modal **/

.modal-buttons {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;

    @include media-query($on-400) {
        
        .modal-blocker {
            display: none;
        }
    }
}

.modal-btn-title {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
	height: 300px;

	h2 {
		font-weight: 700;
		font-size: 4vw;

		@include media-query($on-1000) {
			font-size: 6vw;
		}

		@include media-query($on-400) {
			font-size: 8vw;
		}
	}

	@include media-query($on-1000) {
		width: 33.3333333333%;
		height: 200px;
	}

	@include media-query($on-400) {
		width: 50%;
		height: 200px;
	}
}

.modal-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 20%;
	height: 300px;

	@include media-query($on-1000) {
		width: 33.3333333333%;
		height: 200px;
	}

	@include media-query($on-400) {
		width: 50%;
		height: 200px;
	}
}

.btn-bg-1 {
	background-color: #7DAE13;
}
.btn-bg-2 {
	background-color: #4D9AFF;
}
.btn-bg-3 {
	background-color: #E9ADFF;
}
.btn-bg-4 {
	background-color: #FBCB00;
}
.btn-bg-5 {
	background-color: #e05454;
}
.btn-bg-6 {
	background-color: #67ffe3;
}
.btn-bg-7 {
	background-color: #F58E89;
}

.modal-btn img {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.uxui-btn img {
	box-shadow: none;
}

.tall-btn img {
	max-height: 80%;
    width: auto;
}

.wide-btn img {
	max-width: 80%;
    height: auto;
}

.modal-btn img:hover {
    transform: scale(1.05);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	align-items: center;
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-content-wide {
	min-height: 60vh;
    min-width: 80vw;
}

.modal-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.modal-image, .modal-description {
    flex: 1;
    padding: 10px;
}

.modal-description {
    display: flex;
    flex-direction: column;
	justify-content: center;
	
	h2 {
		font-weight: 700;
		margin-bottom: 20px;
		line-height: 1.2;
	}
	p {
		margin-bottom: 40px;
	}
}

.modal-link,
.modal-link:visited {
    background-color: #000;
    border-radius: 999px;
    color: #fff;
    display: block;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.modal-link:hover {
    background-color: #F58E89;
    color: #000;
    text-decoration: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .modal-content {
        flex-direction: column;
    }
}