<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
		
		{{ content }}
	
	</main>

    {%- include footer.html -%}
		
	<script src="/js/modal/modal.js"></script>
	<script src="/js/jquery.lazyload/jquery.lazyload.js"></script>
	<script>
		$(function() {
			$("img.lazy").lazyload({
				effect: "fadeIn"
			});
			$("img.lazy").css({
				display: 'block'
			});
		});
	</script>

  </body>

</html>
